.Heading {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1vh;
    
  }
  
  .Heading h1 {
    text-shadow: 2px 2px 2px gray;
  }